html,
body {
  margin: 0;
  height: 100%;
}

#update-branch-form div {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2em;
  margin-right: 1rem;
}

#update-branch-form label {
  text-transform: capitalize;
}

#update-branch-form input,
#update-branch-form textarea {
  width: 100%;
}

/* Make form responsive */
@media (min-width: 768px) {
  #update-branch-form div {
    width: 45%;
  }
}
